
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Frontend.cshtml";
}




<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- breadcrumb-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li aria-current="page" class="breadcrumb-item active">Sản phẩm</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-3">
                <!--
                *** MENUS AND FILTERS ***
                _________________________________________________________
                -->
                <div class="card sidebar-menu mb-4">
                    <div class="card-header">
                        <h3 class="h4 card-title"><i class="fa fa-list"></i> &nbsp;&nbsp;Danh mục</h3>
                    </div>

                    <div class="card-body">
                        <ul class="nav nav-pills flex-column category-menu">
                            <li>
                                <a class="nav-link active">Trang Điểm <span class="badge badge-light"></span></a>
                                <ul class="list-unstyled">

                                    <li class="nav-item">
                                        <a>

                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a class="nav-link active">Chăm sóc da <span class="badge badge-light"></span></a>
                                <ul class="list-unstyled">

                                    <li class="nav-item ">
                                        <a>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- *** MENUS AND FILTERS END ***-->
                <div class="banner"><a href="#"><img src="~/Hinh/beauty/sale2.jpg" alt="sales 2014" class="img-fluid"></a></div>
            </div>
            <div class="col-lg-9">
                <div class="box info-bar">
                    <div class="row">
                        <div class="col-md-12 col-lg-4 products-showing">Hiển thị <strong>12</strong> trên <strong>25</strong> sản phẩm</div>
                        <div class="col-md-12 col-lg-7 products-number-sort">
                            <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
                                <div class="products-number">
                                    Hiển thị &nbsp;
                                    <select name="sort-by" class="form-control">
                                        <option>12</option>
                                        <option>24</option>
                                        <option>50</option>
                                    </select><span>sản phẩm</span>
                                </div>
                                <div class="products-sort-by mt-2 mt-lg-0">
                                    <strong>Sắp xếp</strong>
                                    <select name="sort-by" class="form-control">
                                        <option>Giá tăng dần</option>
                                        <option>Giá giảm dần</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row products">
                    <div class="col-lg-4 col-md-6">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front"><a href="detail.html"><img src="img/product1.jpg" alt="" class="img-fluid"></a></div>
                                    <div class="back"><a href="detail.html"><img src="img/product1_2.jpg" alt="" class="img-fluid"></a></div>
                                </div>
                            </div><a href="detail.html" class="invisible"><img src="img/product1.jpg" alt="" class="img-fluid"></a>
                            <div class="text">
                                <h3><a href="detail.html">Fur coat with very but very very long name</a></h3>
                                <p class="price">
                                    <del></del>$143.00
                                </p>
                                <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                            </div>
                            <!-- /.text-->
                        </div>
                        <!-- /.product            -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front"><a href="detail.html"><img src="img/product2.jpg" alt="" class="img-fluid"></a></div>
                                    <div class="back"><a href="detail.html"><img src="img/product2_2.jpg" alt="" class="img-fluid"></a></div>
                                </div>
                            </div><a href="detail.html" class="invisible"><img src="img/product2.jpg" alt="" class="img-fluid"></a>
                            <div class="text">
                                <h3><a href="detail.html">White Blouse Armani</a></h3>
                                <p class="price">
                                    <del>$280</del>$143.00
                                </p>
                                <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                            </div>
                            <!-- /.text-->
                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon-->
                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon-->
                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon-->
                        </div>
                        <!-- /.product            -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front"><a href="detail.html"><img src="img/product3.jpg" alt="" class="img-fluid"></a></div>
                                    <div class="back"><a href="detail.html"><img src="img/product3_2.jpg" alt="" class="img-fluid"></a></div>
                                </div>
                            </div><a href="detail.html" class="invisible"><img src="img/product3.jpg" alt="" class="img-fluid"></a>
                            <div class="text">
                                <h3><a href="detail.html">Black Blouse Versace</a></h3>
                                <p class="price">
                                    <del></del>$143.00
                                </p>
                                <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                            </div>
                            <!-- /.text-->
                        </div>
                        <!-- /.product            -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front"><a href="detail.html"><img src="img/product3.jpg" alt="" class="img-fluid"></a></div>
                                    <div class="back"><a href="detail.html"><img src="img/product3_2.jpg" alt="" class="img-fluid"></a></div>
                                </div>
                            </div><a href="detail.html" class="invisible"><img src="img/product3.jpg" alt="" class="img-fluid"></a>
                            <div class="text">
                                <h3><a href="detail.html">Black Blouse Versace</a></h3>
                                <p class="price">
                                    <del></del>$143.00
                                </p>
                                <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                            </div>
                            <!-- /.text-->
                        </div>
                        <!-- /.product            -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front"><a href="detail.html"><img src="img/product2.jpg" alt="" class="img-fluid"></a></div>
                                    <div class="back"><a href="detail.html"><img src="img/product2_2.jpg" alt="" class="img-fluid"></a></div>
                                </div>
                            </div><a href="detail.html" class="invisible"><img src="img/product2.jpg" alt="" class="img-fluid"></a>
                            <div class="text">
                                <h3><a href="detail.html">White Blouse Versace</a></h3>
                                <p class="price">
                                    <del></del>$143.00
                                </p>
                                <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                            </div>
                            <!-- /.text-->
                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon-->
                        </div>
                        <!-- /.product            -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front"><a href="detail.html"><img src="img/product1.jpg" alt="" class="img-fluid"></a></div>
                                    <div class="back"><a href="detail.html"><img src="img/product1_2.jpg" alt="" class="img-fluid"></a></div>
                                </div>
                            </div><a href="detail.html" class="invisible"><img src="img/product1.jpg" alt="" class="img-fluid"></a>
                            <div class="text">
                                <h3><a href="detail.html">Fur coat</a></h3>
                                <p class="price">
                                    <del></del>$143.00
                                </p>
                                <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                            </div>
                            <!-- /.text-->
                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon-->
                        </div>
                        <!-- /.product            -->
                    </div>
                    <!-- /.products-->
                </div>
                <nav class="justify-content-center d-flex">
                    <ul class="page-item"></ul>
                </nav>
            </div>
            <!-- /.col-lg-9-->
        </div>
    </div>
</div>
